.mainSpinnerContainer {
  display: flex;
  position: absolute;
  left: 47%;
  top: 45%;
  justify-content: center;
  align-items: center;
  animation: spin 1s linear infinite;
}

.cardSpinnerContainer {
  display: flex;
  left: 35%;
  position: absolute;
  justify-content: center;
  align-content: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
