.searchField {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #000010;
  border: 3px solid #d1d8ff;
  background-color: #ffffff;
  border-radius: 5px;
  width: 518px;
  height: 36px;
  margin-right: 14px;
}
